#input1 {
    background-color: grey;
    padding: 50px 50px 50px 50px;
}

#input2 {
    background-color: whitesmoke;
    padding: 50px 50px 50px 50px;
}

#input3 {
    background-color: lightseagreen;
    padding: 50px 50px 50px 50px;
}